<!--borrowed from todo-list.component.html-->
<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Fry's Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        This is the page where I implemented server side filtering by todo owner (Fry in particular). That leaves fields for searching by status and body. Like the todos page, I wanted more tests and CSS highlighting of words via search fields, but time/partner constraints got the best of me. Also, the radio button status filtering does not work. I think I got close to figuring that out but I need to sleep and work on any class but this one. To filter by status, the "Filter by status" field must have the values "complete" or "incomplete" typed out (case insensitive).
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        Unlike the todos page, this is what an average user would see.
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="todoStatus" #input placeholder="Filter by status"
                 (input)="todoStatus = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoBody" #input placeholder="Filter by body" (input)="todoBody = $event.target.value">
        </mat-form-field>

        <mat-radio-group>
          <mat-radio-button id="todoStatusComplete" value="complete">Complete</mat-radio-button>
          <mat-radio-button id="todoStatusIncomplete" value="incomplete">Incomplete</mat-radio-button>
        </mat-radio-group>

        <div>
          <ul class="list-group">
            <li class="list-group-item"  *ngFor="let item of itemsList">
              <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)"/>
              {{item.name}}

            </li>
          </ul>
        </div>


        <mat-accordion *ngIf="todos; else todosError">
          <mat-expansion-panel #elem [id]="todo._id" *ngFor="let todo of this.filterTodosForOwner(todoStatus, todoBody)">
            <mat-expansion-panel-header>
              <mat-panel-title matTooltip="id: {{todo._id}} ({{todo.owner}})">{{todo._id}} ({{todo.owner}})</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>Owner: {{todo.owner}}</mat-panel-description>
            <mat-panel-description>Status: {{todo.status}}</mat-panel-description>
            <mat-panel-description>Body: {{todo.body}}</mat-panel-description>
            <mat-panel-description>Category: {{todo.category}}</mat-panel-description>

          </mat-expansion-panel>
        </mat-accordion>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
